<%- include ("../../partials/header") -%>
<section  class="blog_part section_padding section_transaction2 col-4">
    <!-- <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true"> -->
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Chuyển khoản thành công</p>

                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button> -->
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam
                            blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat.
                            Esse ratione fuga, enim, ab officiis totam.</p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-success">Tiếp tục chuyển khoản <i class="far fa-gem ml-1 white-text"></i></a>
                    <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">No, thanks</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    <!-- </div> -->
    <!-- Central Modal Medium Success-->

    <!-- Button trigger modal -->
    <!-- <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#centralModalSuccess">Launch
            Modal Success <i class="far fa-eye ml-1"></i></a>
    </div> -->
</section>
<script>
    
    function goBack() {
        window.history.back()
    }  
</script>
<%- include ("../../partials/footer") -%>