<%- include ("../../partials/header") -%>
<section class="blog_part section_padding section_transaction col-4">
    <div class="container container_transaction1">
        <form method="GET" action="transaction" class="mt-4 ">
            <h2>giao dich thanh cong</h2>

            <div class="form-group  text-right">
                <button type="submit" class="btn btn-primary">Tiep tuc chuyen khoan</button>
            </div><br>
        </form>
    </div>
</section>
<script>
    function goBack() {
      window.history.back()
    }  
  </script>
<%- include ("../../partials/footer") -%>