<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>17Tez -  Tin Tức Sự Kiện</title>
  
 <style>
    
    .fontt{
        margin-bottom: 4px;
        color:red;
    }
    p{
      margin: 20px 350px 20px 350px;
      letter-spacing: 1px;
      line-height:1.5;
      color:#555;
    }
</style>
</style>
</head>
<body>


  <h1 style="color:coral;margin: 20px 350px 20px 350px;"> Kinh doanh giá trị tương lai</h1><br><br>


  <p style="margin: 20px 350px 20px 350px;">
    <img height="350px" src="https://timo.vn/wp-content/uploads/2018/04/post2.jpg" ><br><br>
  <p>Trong kế toán, lợi nhuận thông thường là phần chênh lệch dương giữa doanh thu và các loại <a href="https://timo.vn/blog/chia-se-hay/phi-chuyen-tien-khac-ngan-hang-bai-toan-chi-phi-dang-can-nhac/">chi phí</a> trên báo cáo Kết quả hoạt động kinh doanh, sau đó được kết chuyển vào bản Cân đối kế toán, tạo thành một phần tài sản ròng của doanh nghiệp. Hay nói một cách khái quát, đây chính là đồng tiền cơ bản mà doanh nghiệp kiếm được thông qua hoạt động kinh doanh.</p><p>Từ khi Thị trường chứng khoán Việt Nam (TTCK VN) ra đời và phát triển một cách nhanh chóng, doanh nghiệp lại có thêm một sân chơi mới, không phải để bán hàng hóa hay dịch vụ thông thường, mà là bán giá trị doanh nghiệp. Doanh nghiệp có một cách tăng Tài sản ròng mà giới đầu tư hay gọi đùa là “in giấy lấy tiền”, họ phát hành thêm cổ phiếu cao hơn mệnh giá và ghi nhận phần chênh lệch vào mục Thặng dư vốn cổ phần.</p><p>Nếu như ngày trước <a href="https://timo.vn/blog/chia-se-hay/sinh-vien-co-lam-tin-dung-duoc-khong/">sinh viên</a> kế toán còn thiếu thốn những ví dụ trực quan sinh động về hoạt động tài chính của công ty, thì từ khi TTCK VN ra đời, điều này đã được cải thiện đáng kể. Ở một doanh nghiệp vừa và nhỏ, như Công ty Cổ phần Văn hóa Tân Bình (mã cổ phiếu ALT) chẳng hạn, báo cáo Q1-2015 cho thấy Thặng dư vốn cổ phần là 141 tỷ VND, trong khi Lợi nhuận tích lũy (Lợi nhuận chưa phân phối) chỉ tầm 4 tỷ VND, số liệu này cho thấy hoạt động tài chính của họ chiếm vai trò không hề nhỏ.</p><p>Sự phát triển của thị trường tài chính thúc đẩy cách thức kiếm tiền mới của chủ doanh nghiệp. Họ không chỉ có thể kiếm tiền bằng hoạt động kinh doanh truyền thống, cung cấp hàng hóa hay dịch vụ có sẵn mà bằng cả hoạt động tài chính, bán cái giá trị tương lai mà nhà đầu tư mong đợi. Xu hướng này cũng đã và sẽ có tác động đáng kể đối với nhà đầu tư, những khách hàng mục tiêu của sản phẩm được <a href="https://timo.vn/blog/chia-se-hay/phi-xu-ly-giao-dich-ngoai-te-la-gi/">giao dịch</a> trên thị trường tài chính.</p><p>Đối với doanh nghiệp, mặc dù hai hình thức kiếm tiền kể trên là dựa trên cùng một nền tảng, nhưng “mặt hàng” và khách hàng mục tiêu thì hoàn toàn khác nhau. Chính vì vậy, cách thức triển khai Tiếp thị Hỗn hợp &#8211; 4Ps (Marketing Mix) của họ cũng rất khác nhau. Chẳng hạn như, trình bày sản phẩm của Mặt hàng tiêu dùng là bao bì đầy màu sắc, thì của Cổ phiếu sẽ là những báo cáo tài chính với những con số bắt mắt. Nếu như Hàng tiêu dùng được phân phối bới các nhà bán lẻ, thì Cổ phiếu trên TTCK sẽ được phân phối bởi các công ty chứng khoán, mà qua đó nhân viên môi giới sẽ là người khuyến nghị sản phẩm đến khách hàng. Hình thức và phương tiện quảng cáo cũng sẽ rất khác nhau, trong đó, những cá nhân có tầm ảnh hưởng trong giới đầu tư sẽ có thể được khai thác triệt để nhằm PR cho một vài cổ phiếu nhất định.</p><p>Ngoài ra, một số doanh nghiệp lớn cũng đã và đang tận dụng cơ hội để đa dạng hóa sản phẩm tài chính của họ. Đã xuất hiện Trái phiếu chuyển đổi (Convertible bonds) mà bản chất ban đầu là một khoản vay, về sau nếu quyền chuyển đổi thành cổ phiếu được thực hiện, khoản vay đó sẽ trở thành Tài sản ròng và đóng góp một phần vào Thặng dư vốn của doanh nghiệp.</p><p>Đối với nhà đầu tư trên Thị trường chứng khoán thì sao? Trong quá trình “tìm mặt gửi vàng”, nhà đầu tư cũng nên cảnh giác với các doanh nghiệp quá lạm dụng việc “in giấy lấy tiền”, trong khi hoạt động kinh doanh cốt lõi của họ thì không hiệu quả. Ngược lại, nếu là nhà đầu cơ ngắn hạn, ngoài việc chọn công ty làm ăn cơ bản tốt, cũng nên xem xét liệu công ty đó có biết tiếp thị cổ phiếu của mình hay không, có như vậy thì thanh khoản của cổ phiếu mới tốt, và giá trị giao dịch cổ phiếu mới thể hiện đúng thành quả hoạt động của công ty.</p><p>Tóm lại, nếu bạn đang điều hành một doanh nghiệp đã trưởng thành, bạn cần lưu ý một điều đó là hình thức kinh doanh cung cấp sản phẩm, dịch vụ truyền thống không còn là cách duy nhất để tạo giá trị thặng dư.</p><p>Hay nếu bạn là chủ của một Doanh nghiệp khởi nghiệp cũng thế, tại sao không thử rút ngắn giai đoạn “hái quả” bằng cách thuyết phục nhà đầu tư mua những giá trị tương lai tại thời điểm hiện tại, khi bán đi một phần sở hữu doanh nghiệp mình.</p><p>Tuy nhiên, nếu ở vai trò là nhà đầu tư, bạn cần thận trọng và sáng suốt để hiểu rõ thực chất hoạt động kinh doanh cốt lõi của doanh nghiệp, tránh bị dẫn dắt bởi những chiêu trò “đánh bóng” tên tuổi, lạm dụng việc phát hành cổ phiếu cao hơn mệnh giá nhằm mang lại thặng dư ngắn hạn cho cổ đông sáng lập. Có như vậy, dòng tiền hiện tại mới được rót vào đúng nơi có thể tạo ra giá trị tương lai một cách hiệu quả nhất.</p>

</p>
