<%- include ("../../partials/header", { title: "Login - E-Banking" }) -%>

<div class="login-page sidebar-collapse">
    <%- include ("../../partials/navbar") %>

    <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="POST">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Login</h4>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <p class="description text-center">Or Be Classical</p>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">account_circle</i>
                                        </span>
                                    </div>
                                    <input type="text" name="username" class="form-control" placeholder="Email..." />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="Password..." />
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a href="/forgot-password" class="btn btn-danger btn-link">Forgotten account?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <!-- <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a> -->
                                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include ("../../partials/footer") -%>
    </div>
</div>

<%- include ("../../partials/scripts") -%>
