<%- include ('../partials/header') %>
<style>
     #zoom1 {
        border:1px solid #ddd;

        box-shadow: 0 0 5px #999;
        -moz-box-shadow: 0 0 5px #999;
        -webkit-box-shadow: 0 0 5px #999;

        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        position: relative;
        opacity: 1;}
    
    #zoom1:hover {
        box-shadow: 0 0 10px #999;
        -moz-box-shadow: 0 0 10px #999;
        -webkit-box-shadow: 0 0 10px #999;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        z-index: auto;
      opacity: 1;}

      .list1 {
    margin: 1px;
    color: #000;
    padding: 4px;
    border: 1px solid #E9E9E9;
      }
    .list1:hover {
    background-color: #f2f2f2;
    margin: 1px;
    color: #000;
    padding: 4px;
    border: 1px solid #E9E9E9;
    }

</style>
<section class="banner_part">
    <div class="container">
      <img src="./image/covid.png"  style="max-width:1200px">
      
       
    </div>
    <div class="hero-app-1 custom-animation"><img src="./image/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-2 custom-animation2"><img src="./image/animate_icon/icon_2.png" alt=""></div>
    <div class="hero-app-5 custom-animation4"><img src="./image/animate_icon/icon_5.png" alt=""></div>
    <div class="hero-app-7 custom-animation2"><img src="./image/animate_icon/icon_7.png" alt=""></div>
    <div class="hero-app-8 custom-animation"><img src="./image/animate_icon/icon_8.png" alt=""></div>


    <h1 style="color:coral;margin: 20px 350px 20px 350px;"> 17Tez TIẾP TỤC ÁP DỤNG CÁC BIỆN PHÁP BẢO ĐẢM AN TOÀN THEO HƯỚNG DẪN CỦA CHÍNH PHỦ</h1>
   
   
    <p style="margin: 20px 350px 20px 350px;">
  Theo hướng dẫn của Thủ tướng Chính phủ, việc thực hiện giãn cách xã hội hiện nay đã được nới lỏng. Điều này có nghĩa là Quý khách có thể đến 17Tez để thực hiện các giao dịch ngân hàng thiết yếu như thường lệ. Tuy nhiên, vì sự an toàn của Quý khách và nhân viên 17Tez hết sức quan trọng, 17Tez sẽ tiếp tục áp dụng các biện pháp đảm bảo an toàn theo hướng dẫn của Chính phủ. Vì vậy từ nay đến hết tháng 5, 17Tez khuyến khích các khách hàng tuân theo những hướng dẫn sau khi đến 17Tez   để được hỗ trợ các giao dịch ngân hàng::
  <br><br>
 
  

  </section>
<!-- banner part start-->

<!-- about part start-->
<section class="about_part">
    <div class="container">
        <div class="row align-items-center justify-content-end">
            
     

          
<div style ="">
     <h2 style="font-size: 29px"> Tin Mới Nhất</H2>  <br>


<table style="margin: auto;"> 
  <td style="margin:30px;padding:10px "><img id="zoom1" height="300px" width="300px" src="https://timo.vn/wp-content/uploads/2018/04/post4.jpg" ><br><br><a href="views/pages/cm/2.ejs">            <h2 style="color:coral">Vấn đề của những siêu sao khi đối mặt với kế hoạch tài chính?</h2></a></td>
  <td style="margin:30px;padding:10px "><img id="zoom1" height="300px"  width="300px" src="https://timo.vn/wp-content/uploads/145906_17__78119_781_2521596.jpg" ><br><br><a href="views/pages/cm/1.ejs"> <h2 style="color:coral">Làm thế nào để chọn một nhà tư vấn tài chính cá nhân</h2></a></td>
  <td style="margin:30px;padding:10px "><img id="zoom1" height="300px"  width="300px" src="https://timo.vn/wp-content/uploads/2018/04/post2.jpg" ><br><br><a href="views/pages/cm/3.ejs">              <h2 style="color:coral">Kinh doanh giá trị tương lai</h2></a></td>
</table>
<a href=""><div style="text-align: center;" class="list1"><b>XEM THÊM</b></div></a>
<br>
        
        
        </div>
    </div>
    <div class="hero-app-7 custom-animation"><img src="./image/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-8 custom-animation2"><img src="./image/animate_icon/icon_2.png" alt=""></div>
    <div class="hero-app-6 custom-animation3"><img src="./image/animate_icon/icon_3.png" alt=""></div>
</section>

<!-- about part start-->


<section class="profile_checking">
    <div class="container">
         <div class="col-md-6 col-lg-6 offset-xl-1 col-xl-6" style="float:right;margin-top: 150px;">
             <div class="single_service_text">
                    <h2>Những điều cần biết về thẻ tín dụng 17Tez</h2>
                    <p>THẺ TÍN DỤNG TIMO MASTERCARD
Thanh toán không cần tiền mặt trong nước  và trên toàn thế giới</p>
                    <a href="#" class="btn_2">Read More</a>
                </div>
         </div>
    </div>
</section>
<!-- service_part start-->

<%- include ("../partials/footer") -%>

