
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>17Tez - xu hướng Ngân Hàng Số không phí đầu tiên tại Việt Nam</title>
        <link rel="icon" href="/image/favicon.png" />

        <!-- fontawesome CSS -->
        <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- animate CSS -->
        <link rel="stylesheet" href="/css/animate.css" />
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css" />
        <!-- themify CSS -->
        <link rel="stylesheet" href="/css/themify-icons/themify-icons.css" />
        <!-- flaticon CSS -->
        <link rel="stylesheet" href="/css/flaticon.css" />
        <!-- <link rel="stylesheet" href="../css/style1.css"> -->
        <!-- font awesome CSS -->
        <link rel="stylesheet" href="/css/magnific-popup.css" />
        <!-- swiper CSS -->
        <link rel="stylesheet" href="/css/slick.css" />
        <!-- style CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <!-- style CSS -->
        <link rel="stylesheet" href="/css/transaction.css" />
    </head>

    <body>
        <section class="hero-section-2" id="home">
            <div class="container-fluid cont">
                <div class="row vertical-content justify-content-center">
                    <div class="col-lg-6">
                        <div class="hero-wrapper mb-4">
                            <img src="image/main/logo.png" style="display:block;width:15%" alt="">
                            <img src="image/main/register.jpg" style="width:100%" alt="">
                        </div>

                    </div>
                    <div class="col-lg-4 offset-lg-2">
                        <div class="form">
                            <div class="form-toggle"></div>
                            <div class="form-panel one">
                                <div class="form-header">
                                    <h1>The future of banking.Available today!</h1>
                                    <p style="font-size:13px">If you already use Internet
                                        Banking.It's simple to <a href="/"
                                           style="text-decoration: none;background:#ff7e5f;cursor: pointer;color:#fff"
                                           class="badge">Login Online</a></p>
                                </div>
                                <div class="form-content">
                                    <form method="POST">
                                        <h3>Please check your email</h3>
                                        <div class="form-group">
                                            <label for="username">Password</label>
                                            <input id="pass" type="password" name="pass"
                                                   placeholder="New Password" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Confirm Password</label>
                                            <input id="conf_pass" type="password" name="conf_pass"
                                                   placeholder="Confirm New Password..."
                                                   required="required" />
                                        </div>
                                        <div class="form-group">
                                            <button type="submit">SEND</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="warning" style="margin-top:50px;padding-left: 60px;">
                                <p style="font-size:13px"><i class="ti-arrow-circle-down"></i>&nbsp
                                    Remember my username on this computer</p>
                                <span style="background:#e2e2b3;color:#333396;font-size: 13px;border:1px solid yellow"
                                      class="badge"><strong>Warning: </strong>Don't tick this box if
                                    you are using a public or shared computer</span>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </body>

</html>