<%- include ("../partials/header") -%>
<section class="blog_part section_padding section_transaction2 col-4">
   <h1><%= error %></h1>
    
</section>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<%- include ("../partials/footer") -%>