<%- include ('../partials/header') %>
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Thông minh hơn<br> Chất hơn <br> Đỉnh cao hơn.</h1>
                        <p>"Thẻ tín dụng đã và đang trở thành một loại thẻ vô cùng cần thiết trong cuộc sống hiện nay, đáp ứng mọi nhu cầu về việc thanh toán nhanh và tiện lợi. Sở hữu thẻ tín dụng, bạn sẽ luôn cảm thấy an toàn khi không phải mang tiền mặt mọi lúc mọi nơi."</p>
                        <a href="#" class="btn_1">Tham gia ngay </a>
                        <a href="" class="popup-youtube video_popup">
                        <span><img src="./image/icon/play.svg" alt=""></span> About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-app-1 custom-animation"><img src="./image/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-2 custom-animation2"><img src="./image/animate_icon/icon_2.png" alt=""></div>
    <div class="hero-app-5 custom-animation4"><img src="./image/animate_icon/icon_5.png" alt=""></div>
    <div class="hero-app-7 custom-animation2"><img src="./image/animate_icon/icon_7.png" alt=""></div>
    <div class="hero-app-8 custom-animation"><img src="./image/animate_icon/icon_8.png" alt=""></div>
</section>
<!-- banner part start-->

<!-- about part start-->
<section class="about_part">
    <div class="container">
        <div class="row align-items-center justify-content-end">
            <div class="col-md-6 col-lg-6 col-xl-5">
                <div class="about_img">
                    <img src="./image/about_img_1.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 offset-xl-1 col-xl-6">
                <div class="about_text">
                    <h2 style="font-size: 29px">QUẢN LÝ TÀI CHÍNH CÁ NHÂN TỐT HƠN</h2>
                    <h4>Kiểm soát lịch sử giao dịch tức thời, chuyển tiền nhanh 24/7 chỉ bằng 1 thông tin duy nhất</h4>
                    <p>Có rất nhiều lý do để bạn quản lý tài chính cá nhân nhưng lợi ích dễ thấy nhất là nó có thể giúp cá nhân hoặc gia đình kiểm soát được mọi chi tiêu của họ. Thế nên mới có những tình huống bạn lương 5 - 7 triệu/tháng nhưng vì biết quản lý tài chính cá nhân hiệu quả, biết chi tiêu gì, đầu tư vào việc gì… nên bạn có thể mua được nhà sau 6 - 7 năm ở thành phố. Còn có những người lương hơn 10 triệu/tháng nhưng vì không có kế hoạch chi tiêu, tiết kiệm, đầu tư nên mãi vẫn không đạt được những dự định mình đặt ra.</p>
                    <a href="#" class="btn_2">read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-app-7 custom-animation"><img src="./image/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-8 custom-animation2"><img src="./image/animate_icon/icon_2.png" alt=""></div>
    <div class="hero-app-6 custom-animation3"><img src="./image/animate_icon/icon_3.png" alt=""></div>
</section>
<!-- about part start-->
<section class="profile_checking">
    <div class="container">
         <div class="col-md-6 col-lg-6 offset-xl-1 col-xl-6" style="float:right;margin-top: 150px;">
             <div class="single_service_text">
                    <h2>Những điều cần biết về thẻ tín dụng 17Tez</h2>
                    <p>THẺ TÍN DỤNG TIMO MASTERCARD
Thanh toán không cần tiền mặt trong nước  và trên toàn thế giới</p>
                    <a href="#" class="btn_2">Read More</a>
                </div>
         </div>
    </div>
</section>
<!-- service_part start-->
<section class="service_part section_padding gray_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-4">
                <div class="single_service_text">
                    <h2>Cung cấp dịch vụ tốt nhất</h2>
                    <p>Dịch vụ chấp nhận thanh toán thẻ trên ATM 17Tez mang lại cho khách hàng những lợi ích: <br>
-  Nhanh chóng, thuận tiện khi thực hiện giao dịch <br>
-  Tiết kiệm thời gian, chi phí vận chuyển <br>
-  Giảm rủi ro do việc cầm giữ nhiều tiền mặt.</p>
                    <a href="#" class="btn_2">Read More</a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="single_service_part">
                    <span class="single_service_icon"><i class="flaticon-growth"></i></span>
                    <h4>Cơ hội kinh doanh</h4>
                    <p>Bên cạnh phong cách chi tiêu hiện đại, thông minh thì thẻ tín dụng còn giúp doanh nghiệp có thêm nguồn vốn phục vụ mua sắm hàng hóa, thanh toán các chi phí hoạt động kinh doanh...</p>
                    <a href="#" class="btn_3">Learn More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-4">
                <div class="single_service_part single_service_part_2">
                    <span class="single_service_icon style_icon"><i class="flaticon-wallet"></i></span>
                    <h4>Phương pháp thương mại</h4>
                    <p>Show wherein form yielding whala readeat gathered wherein moved. Behold may be winged created
                        that Won't theya are second god give </p>
                    <a href="#" class="btn_3 service_btn">Read More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->

<!--::review_part start::-->

<!--::blog_part end::-->

<!-- portfolio_part start-->

<!-- portfolio_part part end-->

<!-- our_service_part part start-->
<section class="about_part our_service_part padding_top">
    <div class="container">
        <div class="row align-items-center justify-content-end">
            <div class="col-md-6 col-xl-5">
                <div class="about_img">
                    <img src="./image/main/checking.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 offset-xl-1 col-xl-6">
                <div class="about_text">
                    <h2>We Providing high quality
                            adviser service</h2>
                    <h4>First Abundantly night you are sea great fifth year</h4>
                    <p>Lights fly above bearing brought abundantly whose. Without one may i seed void wels great
                        face god were deep be first. Unto for third be in moveth. Bring land bearing un abundantly
                        firmament appear whales them years. Lights fly above bearing brought bold abundantly whose
                        without one may i seed. </p>
                    <a href="#" class="btn_2">read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-app-1 custom-animation"><img src="./image/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-4 custom-animation2"><img src="./image/animate_icon/icon_8.png" alt=""></div>
    <div class="hero-app-8 custom-animation3"><img src="./image/animate_icon/icon_9.png" alt=""></div>
</section>
<!--::blog_part start::-->


<!--::blog_part start::-->
<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Update From Blog</h2>
                    <p>Winged hath had face creepeth abundantly so shall fire apperar </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4 d-none d-sm-block d-lg-none">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="./image/blog/blog_3.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
                            <a href="blog.html">
                                <h5 class="card-title">Be there bring void give good from stars</h5>
                            </a>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>0 Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="./image/blog/blog_1.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
                            <a href="blog.html">
                                <h5 class="card-title">He waters likeness their land set female for </h5>
                            </a>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>0 Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="./image/blog/blog_2.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
                            <a href="blog.html">
                                <h5 class="card-title">Be there bring void give good from stars</h5>
                            </a>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>0 Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                    <div class="card">
                        <img src="./image/blog/blog_3.png" class="card-img-top" alt="blog">
                        <div class="card-body">
                            <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
                            <a href="blog.html">
                                <h5 class="card-title">Third lights they're over moved days above</h5>
                            </a>
                            <ul>
                                <li> <span class="ti-comments"></span>2 Comments</li>
                                <li> <span class="ti-heart"></span>0 Like</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::blog_part end::-->
<section class="review_part padding_top" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section_tittle text-center">
                    <h2>Khách hàng nói gì</h2>
                    <p>Sau đây là những khách hàng đã cùng 17Tez tạo nên thương hiện này</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5">
                <!-- THUMBNAILS -->
                <div class="slider-nav-thumbnails">
                    <div class="slider-thumbnails">
                        <img src="./image/client/client_1.png" alt="slideimg" class="image">
                    </div>
                    <div class="slider-thumbnails">
                        <img src="./image/client/client_2.png" alt="slideimg" class="image">
                    </div>
                    <div class="slider-thumbnails">
                        <img src="./image/client/client_1.png" alt="slideimg" class="image">
                    </div>
                    <div class="slider-thumbnails">
                        <img src="./image/client/client_1.png" alt="slideimg" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <!-- MAIN SLIDES -->
                <div class="slider">
                    <div data-index="1">
                        <div class="client_review_text text-center">
                            <img src="./image/icon/quate.svg" class="quate_icon" alt="quate">
                            <p>Hệ thống bảo mật tốt,tốc độ xử lý nhanh,hiệu quả,giao diện dễ nhìn dễ sử dụng.Đã cùng đồng hành với 17Tez từ ngày mới bắt đầu tới giờ vẫn thích dùng</p>
                            <h3>Daniel E Gilcritst</h3>
                            <h5>Customer</h5>
                        </div>
                    </div>
                    <div data-index="2">
                        <div class="client_review_text text-center">
                            <img src="./image/icon/quate.svg" class="quate_icon" alt="quate">
                            <p>Là người mới xử dụng 17Tez nhưng thấy rõ được sự hiện đại đáng sử dụng của 17Tez.Hi vọng 17Tez sẽ phát triển mạnh hơn nữa</p>
                            <h3>Daniel E Gilcritst</h3>
                            <h5>Customer</h5>
                        </div>
                    </div>
                    <div data-index="3">
                        <div class="client_review_text text-center">
                            <img src="./image/icon/quate.svg" class="quate_icon" alt="quate">
                            <p>Tạo sự mới mẻ cho người dùng.Luôn luôn cải thiện chính mình,hỗ trợ nhiệt tình từ các nhân viên</p>
                            <h3>Daniel E Gilcritst</h3>
                            <h5>Customer</h5>
                        </div>
                    </div>
                    <div data-index="4">
                        <div class="client_review_text text-center">
                            <img src="./image/icon/quate.svg" class="quate_icon" alt="quate">
                            <p>Đầu tư mạnh vào vấn đề bảo mật nên thấy rất thích 17Tez.Hi vọng sẽ càng phát triển mạnh hơn nữa</p>
                            <h3>Daniel E Gilcritst</h3>
                            <h5>Manager, Vision</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-app-7 custom-animation4"><img src="./image/animate_icon/icon_4.png" alt=""></div>
        <div class="hero-app-3 custom-animation2"><img src="./image/animate_icon/icon_8.png" alt=""></div>
        <div class="hero-app-8 custom-animation"><img src="./image/animate_icon/icon_3.png" alt=""></div>
    </div>
</section>
<%- include ('../partials/footer') %>