

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Invoza - Bootstrap 4 Landing Page Tamplate</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Themesdesign" />
    <link rel="stylesheet" href="../css/themify-icons/themify-icons.css">
        <!-- App favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="Login/css/bootstrap.min.css" type="text/css">

        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="Login/css/materialdesignicons.min.css" />

        <!-- owl carousel -->
        <link rel="stylesheet" type="text/css" href="Login/css/owl.carousel.min.css" />
        <link rel="stylesheet" type="text/css" href="Login/css/owl.theme.default.min.css" />
	<link rel="icon" type="image/png" href="Login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
        <!-- Custom  sCss -->
        <link rel="stylesheet" type="text/css" href="Login/css/style.css" />

    </head>

    <body>

        <section class="hero-section-2" id="home">
            <div class="container-fluid cont">
                <div class="row vertical-content justify-content-center">
                    <div class="col-lg-6">
                        <div class="hero-wrapper mb-4">
							<img src="image/main/logo.png" style="display:block;width:15%" alt="">
							<img src="Login/images/graphic2.svg" style="width:70%" alt="">
                        </div>
                        
                    </div>
                    <div class="col-lg-4 offset-lg-2">
						<div class="form">
							<div class="form-toggle"></div>
							<div class="form-panel one">
								<div class="form-header">
								<h1>Welcome to Internet Banking</h1>
								<p style="font-size:13px">If you don't already use Internet Banking.It's simple to <a href="/register" style="text-decoration: none;background:#ff7e5f;cursor: pointer;color:#fff" class="badge">Register Online</a></p>
								</div>
								<div class="form-content">
								<form>
									<div class="form-group">
									<label for="username">Username</label>
									<input id="username" type="text" name="username" placeholder="UserName..." required="required"/>
									</div>
									<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" name="password" placeholder="Password..." required="required"/>
									</div>
									<div class="form-group">
										<button type="submit">Log In</button>
									</div>
									<div class="form-group">
									<label class="form-remember">
										<input type="checkbox"/>Remember Me
									</label><a class="form-recovery" href="#">Forgot Password?</a>
								</div>
								</form>
								</div>
							</div>
							<hr>
							<div class="warning" style="margin-top:50px;padding-left: 60px;">
								<p style="font-size:13px"><i class="ti-arrow-circle-down"></i>&nbsp Remember my username on this computer</p>
								<span style="background:#e2e2b3;color:#333396;font-size: 13px;border:1px solid yellow" class="badge"><strong>Warning: </strong>Don't tick this box if you are using a public or shared computer</span>
							</div>
                    	</div>
                </div>
            </div>
        </section>
    </body>

</html>