<%- include ('../partials/header') %>
  <div class="container">
    <div class="col-md-6">
        <div class="box">
  <div class="card">
    <div class="bank">
      Card
    </div>
    <div class="chip"></div>
    <div class="number">
      5555 5555 5555 5555
    </div>
    <div class="date-box">
      <div class="valid"><span>Valid</span> <span>Thru</span></div>
      <div class="date">07/22</div>
    </div>
    <div class="card__footer">
      <div class="name">Name Surname</div>
      <img class="logo" src="https://bumengo.com/wp-content/uploads/2018/08/mastercard.png"></img>
    </div>
  </div>
</div>
    </div>
    <div class="col-md-6">
         <h1>File Upload</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/multer/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <img src="../<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
</body>
</html>