<%- include ("../../partials/header") -%>

<section class="blog_part section_padding section_transaction">
    <div class="container container_transaction">
        <div class="row justify-content-center my-3">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-">
                        <a href="/admin/users" class="btn btn-light btn-lg" role="button"
                           aria-pressed="true">User Management</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-">
                        <a href="/admin/security" class="btn btn-light btn-lg" role="button"
                           aria-pressed="true">Security</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ("../../partials/footer") -%>