<%- include ("../../partials/header") -%>

<section class="blog_part section_padding section_transaction">
    <!-- <div class="container container_transaction">
  </div> -->

    <div class="containter">
        <div class="row justify-content-center my-5">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-">
                        <form method="POST" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                   aria-label="Search" name="search" id="search">
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <!-- Details -->
                <div class="row justify-content-center my-5">
                    <div class="col-6">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card
                                    title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Details -->

            </div>
        </div>
    </div>
</section>

<%- include ("../../partials/footer") -%>